<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>UrbanCode Deploy Rest client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>UrbanCode deploy - Rest client<p/>
    <p>Build version: <span th:text="${@environment.getProperty('app.version')}"></span></p>
    <p>Build time:    <span th:text="${@environment.getProperty('app.buildstamp')}"></span></p>
    <p>Environment:    <span th:text="${activeProfiles}"></span></p>
</body>
</html>

